/* This is the main CSS file to work on all pages
Any page-specific changes should be made in a separate CSS file 
*/
:root {
    --main_Dark: #074900;
    --main_Medium: #228817;
    --main_Light: #85e77a;
    --secondary_Dark: #595800;
    --secondary_Medium: #a7a51c;
    --secondary_Light: #dada9e;
    --tertiary_Dark: #3a5300;
    --tertiary_Medium: #749c1b;
    --tertiary_Light: #e3f6d5;
    --acqua: #08fdf9;
}

* {
    overflow-x: hidden;
}

p {
    padding: 0 10px 0 0;
}

a:link {
    color: white;
    text-decoration: none;
}
a:visited {
    color: var(--tertiary_Light);
    text-decoration: underline;
}
a:active {
    text-decoration: none;
}
a:hover:not(.comapnyName,.company-name-right) {
    text-decoration: underline;
    transition: 0.4s;
    color: var(--tertiary_Light);
    text-shadow: -1px 0 var(--main_Dark), 0 1px var(--main_Dark), 1px 0 var(--main_Dark), 0 -1px var(--main_Dark);
    text-underline-offset: 3px;
    text-decoration-color: var(--main_Dark);
}


body {
    margin: 0;
    height: 100vh;
}

.header {
    display: flex;
    width: 100%;
    min-height: 80px;
    flex: 1;
}

.top-navigation-container {
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    padding: 15px 0 15px 0;
    gap: 12px;
    background-image: linear-gradient(90deg, var(--main_Dark), var(--main_Light));
    justify-content: space-between;
    border-bottom: 2px solid var(--main_Dark);
}
.logo {
    justify-content: flex-start;
    margin-left: calc(5px + 1vw);
    min-width: 60px;
    display: flex;
    cursor: pointer;
    z-index: 10;
}

.logo img {
    align-self: flex-start;
    height: 60px;
}

.company-name-left, .company-name-right {
    display: flex;
    text-align: center;
    justify-content: space-around;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    max-width: 200px;
    cursor: pointer;
}

.company-name-right {
    margin-right: calc(5px + 1vw);
    text-align: right;

}

.company-name-left span, .company-name-right span {
    color: var(--tertiary_Light);
    font-family: "Courier";
    font-weight: 700;
    font-size: clamp(1.6rem, 2.5vw, 1.8rem);
}

.navigation {
    gap: 20px;
}

.navbutton {
    color: white;
    font-size: clamp(0.8rem, 1.6vw, 1.2rem);
}

main {
    background-image: linear-gradient(white, var(--tertiary_Light));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 100vw;
    min-height: calc(100vh - 144px);
    box-sizing: border-box;
    padding: 0 0px 10px;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}


.picture-sidescroller {
    margin: auto;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 1em;
    width: 100vw;
    padding-bottom: 50px;
    background: none;
}

.welcoming-phrase {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
    margin: auto;
    width: 90%;
    top: 50px;
}

.welcoming-phrase h1 {
    margin: 0;
}

.images-container {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.images-container img {
    scroll-snap-align: center;
    flex-shrink: 0;
    height: 400px;
    width: 600px;
}

.hidden-price {
    display: none;
}

.plus-materials {
    font-size: 0.8em;
    color: gray;
}

.google-map {
    width: 90vw;
    min-width: 300px;
    min-height: 300px;
    border: 1px solid black;
    background-color: var(--main_Light);
    margin-bottom: 20px;
}
footer {
    display: flex;
    color: var(--tertiary_Light);
    height: 60px;
    background-image: linear-gradient(90deg, var(--main_Dark), var(--main_Light));
    border-top: 1px solid var(--main_Dark);
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

footer span {
    padding-left: 10px;
    font-size: 0.8em;
}


#online-estimate {
    display: flex;
    border: none;
    border-spacing: 0;
    max-width: 95vw;
}

tr, th, td {
    border: 1px solid;
    padding: 4px;
    background-color: rgb(245, 245, 245 );
}

.user-input-quantity {
    max-width: 108px;
}

.user-input-quantity input {
    max-width: 100px;
}

#total {
    text-align: left;
}

.authors {
    display: flex;
    flex-direction: column;
}


@media screen and (max-width: 800px) {
    * {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
    }

    .hamburguer-menu {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-right: 5vw;
        width: 33px;
        color: var(--tertiary_Light);
        font-size: 3em;
        z-index: 5;
        cursor: pointer;
    }

    #menu {
        position: fixed;
        margin: 0;
        padding: 0;
        width: 0;
        top: 0;
        right: 0;
        list-style-type: none;
        background-image: linear-gradient(60deg, var(--main_Dark), var(--main_Light));
        padding-top: 50px;
        transition: 0.5s ease-out;
        overflow-x: hidden;
        border-bottom-left-radius: 20px;
        border-left: 2px solid var(--main_Dark);
        border-bottom: 2px solid var(--main_Dark);
    }

    #menu ul {
        padding: 5px 30px 10px 10px;
        text-align: right;
        line-height: 2;
    }

    #menu li {
        list-style: none;
        font-size: 1.6em;
    }

    #close-menu-button {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 4em;
      }
      #close-menu-button:hover {
        text-decoration: none;
        transition: 0.6s;
        color: var(--main_Dark);
      }

    .navigation {
        display: none;
    }

    .company-name-left {
        display: flex;
    }

    .company-name-right {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    * {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
    }

    .hamburguer-menu {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .company-name-left {
        display: none;
    }

    .company-name-right {
        display: flex;
    }
}